.fubuki
{
    height: 80%;
}
.a
{
    height: 110%;
}
#banner
{
    height: auto;
    max-width: 100%;
}
.cancion
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.fin
{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}
.navbar 
{
    background-color: transparent !important;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    z-index: 100;
    align-items: center;
    font-family: Helvetica;
    color: black;
}
.navbar.active
{
    background-color: white !important;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    z-index: 100;
    align-items: center;
    font-family: Helvetica;
    color: black;
}
header
{
    background: url(Imagenes/Inicio.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 95vh;
}
#inf
{
    display: flex;
    justify-content: center;
}
.info
{
    margin-top: 5%;
    background-color: #3cb8f3;
    border-color: #3cb8f3;
    color: white;
    font-family: Helvetica;
    align-items: center;
}
.icono
{
    color: white;
    font-family: Helvetica;
}
@media(max-width: 1300px)
{
    .icono
    {
        flex-wrap: wrap;
        justify-content: center !important; 
    }
    .Clip
    {
        display: flex;
        flex-direction: column;
    }
}
.imagen
{
    max-height: 50vh;
}
.overlay
{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; 
    opacity: 0; 
}
.overlay.active
{
    visibility: visible;
    opacity: 1;
}
.overlay2
{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; 
    opacity: 0; 
}
.overlay2.active
{
    visibility: visible;
    opacity: 1;
}
.overlay4
{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; 
    opacity: 0; 
}
.overlay4.active
{
    visibility: visible;
    opacity: 1;
    z-index: 100;
}
.overlay5
{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; 
    opacity: 0; 
}
.overlay5.active
{
    visibility: visible;
    opacity: 1;
    z-index: 100;
}
.overlay6
{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; 
    opacity: 0; 
}
.overlay6.active
{
    visibility: visible;
    opacity: 1;
    z-index: 100;
}
.overlay7
{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; 
    opacity: 0; 
}
.overlay7.active
{
    visibility: visible;
    opacity: 1;
    z-index: 100;
}
.C1
{
    margin-top: 5%;
    margin-bottom: 2%;
}
.C2
{
    margin-bottom: 5%;
}
.fan
{
    margin-top: 5%;
    margin-bottom: 5%;
}